
.hidden {
    display: none;
  }
  /* styles.css */

.password-table {
    border-collapse: collapse;
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table */
}

.password-table th, .password-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.err {
    color: red;
    display: none;
}

.error-container {
    margin-top: 5px;
    margin-bottom: 3px;
}

.password-input {
    margin-bottom: 3px;
}

.glow {
    animation: glow 1s ease-in-out;
}
@keyframes glow {
    0% {
        background-color: lightcyan; /* Change to the initial background color of the cell */
    }
}